
.footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}
.footer__message{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2vw;
}
.footer__social-img {
    padding: 5px;
    -webkit-filter: grayscale(100%);
}
.footer__social-img:hover {
    padding: 5px;
    -webkit-filter: grayscale(0%);
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}

.site-footer {
    display: flex;
    justify-content: space-around;
    background: whitesmoke;
}

