.header__img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
.header__link {
    margin-left: 5vw;
    font-size: 32px;
    text-decoration: none;
    color: purple;
    position: relative;
}

.header__link:after {
    content: '';
    height: 2px;
    position: absolute;
    bottom:  -2px;
    left: 0;
    right: 0;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);

}

.header__link:hover {
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__img-menu {
    width: 40px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
}

.header__menu {
    margin-right: 30px;
}
.header__menu ul {
    display:none;
    list-style: none;
    padding: 0px;
    position: absolute;
    text-align: right;
    width: 100px;
    margin: 0px 0px 0px -14px;

}

.header__menu:hover ul,ul:hover {
    display: block;
}

.header__menu ul li {
    margin: 10px 0px;
}

.header__menu ul li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}
.header__menu--profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile img {
    margin-right: 8px;
    object-fit: fill;
}

.header__menu--profile p {
    margin: 0px;
    color: white;
}