.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-grow: inherit;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 100vw;
    height: 50vh;
    max-height: 50vh;
    padding: 20px;
    background: linear-gradient(25deg,#380036,#0cbaba 50%);;
    border-radius: 5px;
}
.modal-guts {
    /* other stuff we already covered */
    display: flex;
    flex-direction: column;
    /* cover the modal */
    position: absolute;
    top: 0;
    left: 0;
    /* spacing as needed */
    padding: 1em 1em 1em 1em;
    /* let it scroll */
    overflow: auto;
    text-align: justify;
    text-justify: inter-word;
}

.modal .close-modal-button {
    cursor: pointer;
    position: absolute;
    /* don't need to go crazy with z-index here, just sits over .modal-guts */
    z-index: 1;
    top: 10px;
    /* needs to look OK with or without scrollbar */
    right: 20px;
    border: 0;
    background: black;
    color: white;
    padding: 5px 10px;
    font-size: 1.3rem;
}
