@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
body {
    margin: 0;
    font-family: "Muli", sans-serif;

}
.button {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 700;
    background: transparent;
    border: 2px solid black;
    border-radius: 30px;
    text-transform: uppercase;
}
.button.gradient {
    color: whitesmoke;
    border: 0;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);

    outline: none;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1).5s;
}
.button.gradient:hover {
    cursor: pointer;
    border: 0;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);

    transform: translateY(-3px);
    outline: none;
}
.button.gradient:active {
    transform: translateY(3px);
}
.site-banner {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 10vw;
}
.banner__menu {
    padding: 5vw;
}
.banner__img {
    object-fit: cover;
    width: 50vw;
    height: 50vh;
}
.bg-whitesmoke{
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
}
.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.site-header {
    height: 10vh;
    background: whitesmoke;
}

.site-main {
    /*min-height: 80vh;*/
    display: flex;
    /*overflow-y: auto;*/
    padding: 0px 5vw;
}


.main-content {
    background: whitesmoke;
    flex-basis:70%;
    /*height: 70vh;*/
}
.main-aside {
    background: whitesmoke;
    height: 90vh;
    overflow: auto;
    flex-basis:30%;
}

.flex-center {
     display: flex;
     justify-content: center;
     align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-title {
    font-size: 2.5em;
    font-family: "Open Sans", sans-serif;
    color: rgba(0, 0, 0, 0.25);
    text-align: center;
}
.section-subtitle {
    /*&:extend(.section-title);*/
    font-size: 1.5em;
}

.title {
    padding: 0 4px;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    font-family: monospace;
    border-radius: 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tag {
    color: white;
    padding: 0 4px;
    background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    font-family: monospace;
    border-radius: 4px;
}
.py-5 {
    padding-right: 25px;
}
.img-white {
    fill: white;
    color: white;
}